:root {
	--nav-height: 50px;
	--footer-height: 50px;
	--nav-bottom-border: 1px;
	--main-height-calculation-value: calc(100vh - var(--nav-height) - var(--footer-height) - var(--nav-bottom-border));
}

body {
	background-color: black;
	color: white;
	padding: 0;
	margin: 0;
	border: 0;
	font-family: Roboto;
}

nav {
	display: flex;
	flex-direction: row;
	width: 100%;
	height: var(--nav-height);
	border-bottom: var(--nav-bottom-border) solid white;

	& #logo {
		& img {
			width: 45px;
			height: 45px;
		}
	}

	& #sites {
		height: 100%;
		width: 100%;
		display: flex;
		justify-content: flex-end;
		align-items: center;

		& span {
			padding: 5px;

			& a {
				text-decoration: none;
				color: white;
			}
		}
	}
}

main {
	display: flex;
	flex-direction: column;
	width: 100vw;
	height: var(--main-height-calculation-value);

	& #greeting-container {
		display: flex;
		width: 100%;
		height: 100%;
		flex-direction: row;
		justify-content: center;
		align-items: end;

		font-size: xx-large;
		font-family: roboto-bold;
	}

	& #interests-container {
		display: flex;
		width: 100%;
		height: 100%;

		& ul {
			display: flex;
			width: 100%;
			height: 100%;
			list-style-type: none;
			align-items: baseline;
			justify-content: center;
			margin: 0;
			padding: 0;

			& li {
				align-items: center;
				justify-content: center;
				margin: 10px;
			}
		}
	}
}

footer {
	display: flex;
	width: 100vw;
	height: var(--footer-height);

	& #copyright {
		display: flex;
		width: 100vw;
		justify-content: flex-end;
		align-items: center;
		padding: 20px;
	}
}

