body{
    padding: 0px;
    border: 0px;
    margin: 0px;
}

ul{
    list-style: none;
}


.nav-list{
    display: inline;
    padding: 0px;
}

.name-of-site{
    display: flex;
    float: left;
}

.nav-list-item{
    padding-left: 25px;
    display: flex;
    float: right;
}
