:root {
	--nav-height: 50px;
	--footer-height: 50px;
	--nav-bottom-border: 2px;
	--main-height-calculation-value: calc(100vh - var(--nav-height) - var(--footer-height) - var(--nav-bottom-border));
}

body {
	/* background-color: black; */
	background-image: url('images/circle-3041437.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	color: white;
	padding: 0;
	margin: 0;
	border: 0;
	font-family: Roboto;
}

nav {
	display: flex;
	flex-direction: row;
	width: 100%;
	height: var(--nav-height);
	border-bottom: var(--nav-bottom-border) solid white;

	& #logo {
		& img {
			width: 45px;
			height: 45px;
		}
	}

	& #sites {
		height: 100%;
		width: 100%;
		display: flex;
		justify-content: flex-end;
		align-items: center;

		& span {
			padding: 5px;

			& a {
				padding: 5px;
				border: 1px solid white;
				border-radius: 10px;
				text-decoration: none;
				color: white;
				transition: font-size 0.25s;
			}
			& a:hover {
				font-size: large;
			}
		}
	}
}

main {
	display: flex;
	flex-direction: column;
	width: 100vw;
	height: var(--main-height-calculation-value);

	& #greeting-container {
		display: flex;
		width: 100%;
		height: 100%;
		flex-direction: row;
		justify-content: center;
		align-items: end;

		font-size: xx-large;
		font-family: roboto-bold;
	}

	& #interests-container {
		display: flex;
		width: 100%;
		height: 100%;
		justify-content: center;

		& ul {
			display: flex;
			width: fit-content;
			height: fit-content;
			list-style-type: none;
			align-items: baseline;
			justify-content: center;
			margin: 0;
			padding: 0;
			border: 1px solid white;
			border-radius: 20px;

			& li {
				align-items: center;
				justify-content: center;
				margin: 5px;
			}
		}
	}
}

footer {
	display: flex;
	width: 100vw;
	height: var(--footer-height);

	& #copyright {
		display: flex;
		width: 100vw;
		justify-content: flex-end;
		align-items: center;
		padding: 20px;
	}
}

